{{template "base" .}}

{{define "title"}}Create A New Snippet{{end}}

{{define "body"}}
<form action="/snippet" method="POST">
    <div>
        <label>Title:</label>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Content:</label>
        <textarea name="content"></textarea>
    </div>
    <div>
        <label>Delete In:</label>
        <input type="radio" name="expires" value="365"> One Year
        <input type="radio" name="expires" value="30"> One Month
        <input type="radio" name="expires" value="7"> One Week
        <input type="radio" name="expires" value="1"> One Day
    </div>
    <div>
        <input type="submit" value="Publish">
    </div>
</form>
{{end}}